<template>
	<ai-dialog>
		<require from="../ui/datepicker"></require>
		<require from="../ui/bootstrap-select"></require>

		<ai-dialog-body>
			<h3>Application for ${job.title}</h3>

			<form role="form">
				<div class="row">
					<div class="col-sm-6">
						<label>Your Details</label>
						<div class="form-group">
							<input disabled class="form-control form-group" value.bind="profile.firstname"></input>
						</div>
						<div class="form-group">
							<input disabled class="form-control form-group" value.bind="profile.lastname"></input>
						</div>
						<div class="form-group" ng-class="{'has-error': updateStatus.error }">
							<input disabled class="form-control form-group" value.bind="profile.email"></input>
							<!--<div ng-show="updateStatus.error"class="label label-danger"></div>-->
						</div>
						<label>Contact Details</label>
						<div class="form-group">
							<input disabled class="form-control form-group" value.bind="profile.phone"></input>
						</div>
						<div class="form-group">
							<input disabled class="form-control form-group" value.bind="profile.address"></input>
						</div>
						<div class="form-group">
							<input disabled class="form-control form-group" value.bind="profile.postcode"></input>
						</div>
						<div class="form-group">
							<input disabled class="form-control form-group" value.bind="profile.city"></input>
						</div>
					</div>
					<div class="col-sm-6">
						<label>Comments and resume</label>
						<div class="form-group">
							<textarea value.bind="application.text & validate" rows="10" class="form-control" placeholder="Add a comment to your application"></textarea>
						</div>
						<div class="form-group">
							<label for="resume">Upload a resume</label>
							<input type="file" files.bind="application.resume">
						</div>
					</div>

				</div>
			</form>
		</ai-dialog-body>
		<ai-dialog-footer>
			<button type="button" class="btn btn-primary" click.delegate="submitApplication()">Apply</button>
			<button type="button" class="btn btn-default" click.delegate="cancel()">Cancel</button>
		</ai-dialog-footer>
	</ai-dialog>
</template>