<template>
	<require from="../ui/datepicker"></require>
	<require from="../ui/bootstrap-select"></require>
	<require from="../ui/converters"></require>
	<div class="row titlebar">
		<div class="col-sm-12">
			<h3>${job.title}</h3>
			<div class="btn-group  pull-right">
				<button class="btn btn-default" click.delegate="editJob()">Edit</button>
				<button class="btn btn-default collapsed show-hide" data-toggle="collapse" data-target="#jobinfo"></button>
				<button click.delegate="applyJob(job._id)" class="btn btn-primary ${!canApply ? 'disabled' : ''}">Apply Now</button>
			</div>
		</div>
	</div>
	<div class="row">
		
		<div id="jobinfo" class="col-sm-12 collapse">
			<div class="col-xs-12 col-md-4 form-view">
				<div class="row">
					<div class="col-xs-4">
						<label for="location">Location</label>
					</div>
					<div class="col-xs-6">
						<p>${job.location}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<label for="deadline">Fill by</label>
					</div>
					<div class="col-xs-6">
						<p>${job.deadline.fillby | dateFormat}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<label for="deadline">Closes</label>
					</div>
					<div class="col-xs-6">
						<p>${job.deadline.visible | dateFormat}</p>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-md-4 form-view">
				<div class="row">
					<div class="col-xs-4">
						<label for="manager">Manager</label>
					</div>
					<div class="col-xs-6">
						<a click.delegate="viewProfile(job.manager.id)">${job.manager.firstname} ${job.manager.lastname}</a>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<label for="recruiter">Recruiter</label>
					</div>
					<div class="col-xs-6">
						<a click.delegate="viewProfile(job.recruiter.id)">${job.recruiter.firstname} ${job.recruiter.lastname}</a>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-4 form-view">
				<label for="description">Description</label>
				<p>${job.description}</p>

			</div>
		</div>

		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>Applicant Name</th>
						<th>Date of application</th>
					</tr>
				</thead>
				<tbody>
					<tr class="row-btn" repeat.for="application of applications" model.bind="application" click.delegate="viewApplication($index,applications)">
						<td>${application.userProfile.firstname} ${application.userProfile.lastname}</td>
						<td>${application.createDate | dateFormat}</td>						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>