<template>
	<require from="../ui/datepicker"></require>
	<require from="../ui/bootstrap-select"></require>
	<require from="../ui/converters"></require>

	<div class="col-md-6 col-xs-12">
		<div class="form-group">
			<input type="text" value.bind="job.title" class="form-control" id="title" placeholder="Position title">
		</div>

		<div class="form-group">
			<div class='input-group date'>
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-globe"></span>
				</div>
				<input type="text" value.bind="job.location" class="form-control" id="location" placeholder="Location">
			</div>
		</div>

		<div class="form-group">

			<div class='input-group date'>
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</div>
				<input type="text" datepicker class="form-control fingerthingy" value.bind="job.deadline.visible" placeholder="Visible close date">

			</div>
		</div>

		<div class="form-group">
			<div class='input-group date'>
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</div>
				<input type="text" datepicker class="form-control fingerthingy" value.bind="job.deadline.fillby" placeholder="Internal fill by date">

			</div>
		</div>
		<div class="form-group folk-inline-form-group">
			<label for="manager">Hiring manager</label>
			<div class='input-group'>
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-user"></span>
				</div>

				<select value.bind="job.manager" bootstrap-select.bind="{liveSearch:true}" title="Choose one of the following..." class="selectpicker show-tick">
                    <div if.bind="job.manager">
                            <option model.bind="job.manager" selected>${job.manager.firstname} ${job.manager.lastname}</option>
						</div>
                    <option repeat.for="manager of managers" model.bind="manager">${manager.firstname}  ${manager.lastname}</option>
                </select>
			</div>
		</div>
		<div class="form-group folk-inline-form-group">
			<label for="recruiter">Recruiter</label>
			<div class='input-group'>
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-user"></span>
				</div>
				<select value.bind="job.recruiter" bootstrap-select.bind="{liveSearch:true}" title="Choose one of the following..." class="selectpicker show-tick">
						<div if.bind="job.recruiter">
                            <option model.bind="job.recruiter" selected>${job.recruiter.firstname} ${job.recruiter.lastname}</option>
						</div>
                        <option repeat.for="recruiter of recruiters"  model.bind="recruiter">                            
                            ${recruiter.firstname} ${recruiter.lastname}
                        </option>
                    </select>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-xs-12">
		<div class="form-group">
			<div class='input-group'>
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-pencil"></span>
				</div>
				<textarea class="form-control" id="description" value.bind="job.description" rows="10" placeholder="Position description"></textarea>
			</div>
		</div>
	</div>
</template>