<template>
	<require from="../ui/converters"></require>
	<div class="row titlebar">
		<div class="col-xs-8 col-sm-3">
			<h3>Open Positions</h3>
		</div>
		<div class="hidden-xs col-sm-7">
			<input type="text" placeholder="Search.." class="form-control" value.bind="search">
		</div>
		<div class="col-xs-4 col-sm-2">
			 
			<div class="btn-group pull-right">
				<!--<a href="#/jobs/createjob" class="btn btn-primary">Create new</a>-->
				<button click.delegate="createJob()" class="btn btn-primary">Create new</button>
			</div>
		</div>
		<div class="col-xs-12 hidden-md hidden-sm hidden-lg">
			<input type="text" placeholder="Search.." class="form-control" value.bind="search">
		</div>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Location</th>
				<th>Manager</th>
				<th>Recruiter</th>
				<th>Description</th>
				<th>Created</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr class="row-btn" repeat.for="job of jobs | filter: search" model.bind="job" click.delegate="getJob(job)">
				<td>${job.title}</td>
				<td>${job.location}</td>
				<td>${job.manager.firstname} ${job.manager.lastname}</td>
				<td>${job.recruiter.firstname} ${job.recruiter.lastname}</td>
				<td>${job.description}</td>
				<td>${job.createDate | dateFormat}</td>
				<td data-toggle="tooltip" title="Number of applicants"><span class="label ${job.applied > 0 ? 'label-info' : 'label-default'} label-as-badge">${job.applied}</span></td>
			</tr>
		</tbody>
	</table>
	</div>
</template>