<template>
	<ai-dialog>
		<require from="../ui/datepicker"></require>
		<require from="../ui/bootstrap-select"></require>
		<require from="../ui/converters"></require>

		<ai-dialog-header>
			<h3>Edit Job</h3>
		</ai-dialog-header>
		<ai-dialog-body>
			<div class="row">
				<div class="col-md-12">
					<form role="form" submit.delegate="updateAJob(job._id)">
						<div class="row">
							<div class="col-md-6 col-xs-12">
								<div class="form-group">
									<input type="text" value.bind="job.title & validate" class="form-control" id="title" placeholder="Position title">
								</div>
								<div class="form-group">
									<div class='input-group date'>
										<div class="input-group-addon">
											<span class="glyphicon glyphicon-globe"></span>
										</div>
										<input type="text" value.bind="job.location & validate" class="form-control" id="location" placeholder="Location">
									</div>
								</div>
								<div class="form-group">
									<div class='input-group date'>
										<div class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</div>
										<input type="text" datepicker class="form-control fingerthingy" value.bind="job.deadline.visible & validate" placeholder="Visible close date">
									</div>
								</div>
								<div class="form-group">
									<div class='input-group date'>
										<div class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</div>
										<input type="text" datepicker class="form-control fingerthingy" value.bind="job.deadline.fillby & validate" placeholder="Internal fill by date">
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group folk-inline-form-group">
											<label for="manager">Hiring manager</label>
											<div class='input-group'>
												<div class="input-group-addon">
													<span class="glyphicon glyphicon-user"></span>
												</div>
												<select value.bind="job.manager & validate" bootstrap-select.bind="{liveSearch:true}">
											<option model.bind="job.manager">${job.manager.firstname} ${job.manager.lastname}</option>				
											<option repeat.for="manager of managers" model.bind="manager">${manager.firstname}  ${manager.lastname}</option>
										</select>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group folk-inline-form-group">
											<label for="recruiter">Recruiter</label>
											<div class='input-group'>
												<div class="input-group-addon">
													<span class="glyphicon glyphicon-user"></span>
												</div>
												<select value.bind="job.recruiter & validate"  bootstrap-select.bind="{liveSearch:true}">						
											<option model.bind="job.recruiter">${job.recruiter.firstname} ${job.recruiter.lastname}</option>						
											<option repeat.for="recruiter of recruiters"  model.bind="recruiter">                            
												${recruiter.firstname} ${recruiter.lastname}
											</option>
									</select>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-xs-12">
								<div class="form-group">
									<div class='input-group'>
										<div class="input-group-addon">
											<span class="glyphicon glyphicon-pencil"></span>
										</div>
										<textarea class="form-control" id="description" value.bind="job.description & validate" rows="10" placeholder="Position description"></textarea>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</ai-dialog-body>
		<ai-dialog-footer>
			<button click.delegate="deleteJob(job._id)" class="btn btn-danger">Delete</button>
			<button type="button" class="btn btn-default" click.delegate="cancel()">Cancel</button>
			<button type="button" class="btn btn-primary" click.delegate="save()">Save</button>
		</ai-dialog-footer>
	</ai-dialog>
</template>