<template>
	<nav class="navbar navbar-default navbar-fixed-top">

		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle pull-left" data-toggle="offcanvas" data-target="#sidebar"><i class="fa fa-bars" aria-hidden="true"></i></button>
				<a href="/" class="navbar-brand logo">folk</a>
				<button type="button" class="pull-right navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
			</div>
			
			<div class="loader" if.bind="router.isNavigating">
			<!--<li class="loader" if.bind="router.isNavigating">-->
				<i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
			</div>
			
			<div id="navbar" class="navbar-collapse collapse">

				<!--<compose if.bind="!isAuthenticated" view-model="auth/login"></compose>
				<ul if.bind="!isAuthenticated" class="nav navbar-nav navbar-right">
					<li><a href="/#/login">Login</a></li>
					<li><a href="/#/signup">Sign up</a></li>

				</ul>-->
				<ul if.bind="isAuthenticated" class="nav navbar-nav navbar-right">
					
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">${email} <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/#/profile/me">Edit profile</a></li>
							<li><a href="/#/profile/applications">My applications</a></li>
							<li><a href="/#/logout">Sign out of folk</a></li>							
						</ul>
					</li>					
				</ul>

				
			</div>
		</div>
	</nav>
</template>