<template>

	<require from="bootstrap/css/bootstrap.css"></require>
	<require from="bootstrap-select/dist/css/bootstrap-select.css"></require>
	<require from="bootstrap-datepicker/dist/css/bootstrap-datepicker3.css"></require>

	<require from="jasny/css/jasny-bootstrap.min.css"></require>
	<require from="jasny/js/jasny-bootstrap.min.js"></require>


	<compose if.bind="isAuthenticated" view-model="sidebar"></compose>

	<require from='./nav-bar'></require>

	<nav-bar router.bind="router"></nav-bar>

	<div id="main-content" class="container ${ isAuthenticated ? 'logged-in' : ''}">
		<router-view></router-view>
	</div>

</template>