<template>
	<div id="sidebar" class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
		<div class="list-group">
			<a href="/#/jobs/listjobs" class="list-group-item">Recruitment</a>
			<a href="/#/onboarding" class="list-group-item">Onboarding</a>
		</div>
	</div>
</template>