/* FOLK CSS

1.0 Basic Layout and Structure
1.1 General divs
1.2 Splash screen
1.3 Navbar
1.4 Sidebar
1.5 Off Canvas (Sidebar and main view)
2.0 General Elements
2.1 Forms 
2.2 Buttons
2.3 Tables 
2.4 Toasts
2.5 Modal
2.6 Labels and Badges
3.0 Content
3.1 Titlebar
3.2 Dialog
*.0 Media Queries 
*/

/* 
1.0 Basic Layout and Structure 
--------------------------------------------------
*/

/* 1.1 General divs */
html, body {
  
}
body { 
  padding-top: 50px; 
  
  }

.container {
  max-width: 100%;
}

#folk h1,h2{
	display:inline-block;
}

#folk h1, #folk h2, #folk h3, #folk h4, #folk h5{
    text-transform: capitalize;
    margin-top: 0px;
}

/* 1.2 Splash screen */
.splash {
  
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 42px;
  font-family: 'Montez';
  color: #3E7C79 !important;
}

.splash .fa {
  width: 100%;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  margin-top: -10px;
  color: #3E7C79 !important;
}

/* 1.3 Navbar */


#folk .navbar-toggle{
  margin: 5px  15px 0 15px;
  border: none;
  
}
#folk .navbar-toggle:hover{
  background-color:transparent; 
}

#folk .navbar-brand{
font-family: 'Montez';  
font-size: 40px ;
color: #FFFFFF ;

}

#folk .navbar-nav a {
color: #FFFFFF ;
}
#folk .navbar-nav .dropdown-menu{
  min-width: 100%;
}

#folk .navbar-nav .dropdown-menu a {
  color: black;
}

#folk .navbar-nav .open .dropdown-menu  a{
  background-color: white;
}
#folk .navbar-nav .open a{
  background-color: #56B1A4;
}

#folk .navbar-default{
  background-color: #4A7F77;
}

#folk .navbar-form .form-group{
  margin-right: 5px;
}

#folk .loader{
    position: absolute;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: #E4B146;
}
.navbar .navbar-collapse {
  text-align: center;
}

/* 1.4 Sidebar */
#sidebar{
  top:50px;
  width:200px;
}
#folk .sidebar {
  
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

#folk .sidebar a{
color: #3E7C79 ;
}


/* 1.5 Off Canvas (Sidebar and main view) */


/*
2.0 General Elements
--------------------------------------------------
*/

/* 2.1 Forms */
#folk .form-view label{
  font-weight: bold !important;
}
.folk-inline-form-group{
  display:inline-table;  
  margin-right: 20px;
}


/* 2.2 Buttons */

#folk button.show-hide.collapsed:before
{
    content:'Show Details' ;
}
#folk button.show-hide:before
{
    content:'Hide Details' ;    
}

/*#folk .btn-feedback{
  margin: 10px;
}

#folk .btn-margin{
  margin:10px;
}

#folk .btn-margin-top{
  margin-top:20px;
}
#folk .btn-margin-top-apply{
  margin-top:20px;
  margin-right: 10px;
}
#folk .btn-showmore{
  margin-top:20px;
  margin-right: 10px;
}*/

/* 2.3 Tables */
#folk .row-btn, .fingerthingy{
  cursor:pointer;
}

#folk .row-btn:hover{
    background-color: #e6e6e6;
    border-color: #adadad;
}

/* 2.4 Toasts */
.toast-top-center{
  top: 10px;
}

/* 2.5 Dialog */

#folk ai-dialog-container h2{
  
}
#folk .modal-nav{
  margin: 20px;
}


#folk .modal-nav-controls{
  width: 200px;
  margin-top: 5px;
}

ai-dialog-overlay, ai-dialog-container{
  z-index:1050 !important;
}

ai-dialog-container>div{  
  margin-top: 38px !important;
}
#folk ai-dialog-footer a{
  margin-top: 5px;
  margin-left: 5px;
}

/* 2.6 Labels and Badges */
.label-as-badge {
    border-radius: 1em;
}
.btn-file{
  margin-bottom: 20px;
}

/*
3.0 Content
--------------------------------------------------
*/

/* 3.1 Titlebar */

#folk .titlebar .btn{

}

#folk .titlebar h3{
  display: inline-block;
  vertical-align: baseline;
  margin-bottom:20px;
}

/* 3.2 Main Content*/
#main-content{
  padding-top: 20px;
}
/*3.3 Content */
#folk .profile-text .img-responsive{
  max-width: 400px !important;
}
.profile-text b{
  margin-left: 5px;
  font-weight: normal;
  
}

/* 3.4 Tabs */
.tab-content{
  padding-top:15px; 
}

/* 3.5 loggedid */
#folk body .logged-in{

}

#folk .logged-in{

}


/* 
*.0 Media Queries 
--------------------------------------------------
*/
 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
      /*.splash {
        margin-left: -200px !important;
      }*/
        #folk #main-content.logged-in{
          margin-left: 200px;
          width: calc(100% - 200px);
        }
        /* Modal */
        #folk ai-dialog{
          min-width:900px;    
        }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        #folk ai-dialog{
          
        }
    }