<template>


	<!--<form class="navbar-form navbar-right">
		<div class="form-group">
			<input name="email" value.bind="email" type="text" placeholder="email" class="form-control">
		</div>
		<div class="form-group">
			<input value.bind="password" name="password" type="password" placeholder="password" class="form-control">
		</div>

		<button click.delegate="login()" class="btn btn-default" type="submit">Login</button>

	</form>-->
	<div class="row">
	<div class="col-sm-6 col-sm-offset-3">

		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a></li>
			<li role="presentation"><a href="#signup" aria-controls="signup" role="tab" data-toggle="tab">Signup</a></li>

		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<form role="tabpanel" class="tab-pane active" id="login">

				<div class="form-group">
					<input name="email" value.bind="email" type="text" placeholder="email" class="form-control">
				</div>
				<div class="form-group">
					<input value.bind="password" name="password" type="password" placeholder="password" class="form-control">
				</div>

				<button click.delegate="login()" class="btn btn-default" type="submit">Login</button>

			</form>
			<form role="tabpanel" class="tab-pane" id="signup" submit.delegate="signup()">

				
					<div class="form-group">
						<input type="text" value.bind="signupForm.firstname & validate" class="form-control" id="ln" placeholder="Firstname">
					</div>
					<div class="form-group">
						<input type="text" value.bind="signupForm.lastname & validate" class="form-control" id="ln" placeholder="Lastname">
					</div>
					<div class="form-group">
						<input type="text" value.bind="signupForm.email & validate" class="form-control" id="fn" placeholder="Email">
					</div>
					<div class="form-group">
						<input type="password" value.bind="signupForm.password & validate" class="form-control" id="ln" placeholder="Password">
					</div>
					<button type="submit" class="btn btn-default">Folk Me</button>
			</form>			
		</div>		
	</div>
	</div>
	<div class="row">
		<div class="col-sm-12">

			<button class="btn btn-default center-block" click.delegate="authenticate('google', true)">
				Sign in with <span class="fa fa-google" aria-hidden="true"></span>  		
			</button>
		</div>
	</div>

</template>