<template>
	<section class="au-animate">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<h3>${heading}</h3>

					<form role="form" submit.delegate="signup()">
						<div class="form-group">
							<input type="text" value.bind="signupForm.firstname & validate" class="form-control" id="ln" placeholder="Firstname">
						</div>
						<div class="form-group">
							<input type="text" value.bind="signupForm.lastname & validate" class="form-control" id="ln" placeholder="Lastname">
						</div>
						<div class="form-group">
							<input type="text" value.bind="signupForm.email & validate" class="form-control" id="fn" placeholder="Email">
						</div>
						<div class="form-group">
							<input type="password" value.bind="signupForm.password & validate" class="form-control" id="ln" placeholder="Password">
						</div>
						<button type="submit" class="btn btn-default">Folk Me</button>
					</form>
				</div>
			</div>
		</div>
	</section>
</template>