<template>
	<div class="row titlebar">
		<div class="col-sm-12">
			<h3>My Profile</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">

			<label class="btn-file center-block">
				<img if.bind="profile.picture" src.bind="profile.picture | singleImg" alt="Add picture" class="img-rounded center-block" width="100px">
				<i style="font-size:100px; width:100px;" if.bind="!profile.picture" class="fa fa-user center-block" aria-hidden="true"></i>
    			<input type="file" files.bind="profile.picture" style="display: none;">
			</label>

			<div class="form-group">
				<input class="form-control" value.bind="profile.firstname & validate" placeholder="First Name"></input>
			</div>

			<div class="form-group">
				<input class="form-control" value.bind="profile.lastname & validate" placeholder="Last Name"></input>
			</div>

			<div class="form-group">
				<label class="radio-inline"><input name="male" checked.bind="profile.gender" type="radio" value="male">Male</label>
				<label class="radio-inline"><input name="female" checked.bind="profile.gender" type="radio" value="female">Female</label>
				<label class="radio-inline"><input name="noyb" checked.bind="profile.gender" type="radio" value="other">Other</label>
				<label class="radio-inline"><input name="noyb" checked.bind="profile.gender" type="radio" value="noneOfYourBusiness">N/A</label>
			</div>



		</div>
		<div class="col-sm-6">

			<label>Contact Details</label>
			<div class="form-group">
				<input class="form-control" value.bind="profile.email & validate" placeholder="Email"></input>
				<!--<div ng-show="updateStatus.error"class="label label-danger"></div>-->
			</div>
			<div class="form-group">
				<input class="form-control" value.bind="profile.phone & validate" placeholder="Phone Number"></input>
			</div>
			<div class="form-group">
				<input class="form-control" value.bind="profile.address" placeholder="Address"></input>
			</div>
			<div class="form-group">
				<input class="form-control" value.bind="profile.city" placeholder="City"></input>
			</div>
			<div class="form-group">
				<input class="form-control" value.bind="profile.postcode & validate" placeholder="Postcode"></input>
			</div>

			<div class="form-group">
				<select class="form-control" value.bind="profile.role">
						<option value="">--</option>
						<option value="admin">Admin</option>
						<option value="user">User</option>
					</select>
			</div>

			<input class="btn btn-default btn-primary" type="submit" value="Update profile" click.delegate="updateProfile()" />

		</div>
	</div>
</template>