<template>	
	<div class="row titlebar">
		<div class="col-xs-8 col-sm-3">
			<h3>My applications</h3>
		</div>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Job</th>
				<th>Applied</th>
			</tr>
		</thead>
		<tbody>
			<tr class="row-btn" repeat.for="application of applications" model.bind="application" click.delegate="viewApplication($index,applications)">
				<td>${application.job.title}</td>
				<td>${application.createDate}</td>
			</tr>
		</tbody>
	</table>
	</div>
</template>