<template>
	<ai-dialog class="dial">
		<require from="../ui/datepicker"></require>
		<require from="../ui/bootstrap-select"></require>
		<require from="../ui/converters"></require>

		<ai-dialog-body>
			<div class="row">
				<div class="col-md-12">
					<button type="button" class="btn btn-default modal-nav" click.delegate="getNextApplication(index-1)">
						<span class="glyphicon glyphicon-menu-left pull-left" aria-hidden="true"></span>
					</button>
					<h2>${application.userProfile.firstname} ${application.userProfile.lastname}</h2>
					<button type="button" class="btn btn-default modal-nav" click.delegate="getNextApplication(index+1)">
						<span class="glyphicon glyphicon-menu-right pull-right" aria-hidden="true"></span>
					</button>
					<span class="label label-info pull-right">
						<span class="glyphicon glyphicon-calendar"></span> ${application.createDate | dateFormat}
					</span>

					<div class="well">${application.applicationText}</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">

					<div class="row">
						<div class="col-md-12">
							<canvas id="the-canvas" class="center-block" style="border:1px  solid black"></canvas>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="center-block modal-nav-controls">

								<button type="button" class="btn btn-default" click.delegate="onPrevPage()">
							<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
						</button>
								<span>Page: <span>${pageNum}</span> / <span>${numPages}</span></span>
								<button type="button" class="btn btn-default" click.delegate="onNextPage()">
							<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
						</button>


							</div>
						</div>
					</div>
				</div>
			</div>
		</ai-dialog-body>
		<ai-dialog-footer>
			<a target="_blank" href.bind="application.cvFilepath" class="btn btn-default"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>Download ${application.cvFilename}</a>
			<button type="button" class="btn btn-default" click.delegate="close()">Close</button>
		</ai-dialog-footer>
	</ai-dialog>
</template>