<template>
	<div class="row titlebar">
		<div class="col-sm-12">
			<h3>${profile.firstname} ${profile.lastname}</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 profile-text">
			
				<label class="btn-file center-block">
					<img if.bind="profile.picture" src.bind="profile.picture | singleImg" alt="Add picture" class="img-rounded img-responsive" >
					<i style="font-size:100px; " if.bind="!profile.picture" class="fa fa-user" aria-hidden="true"></i>				
				</label>
			
				<div class="col-sm-6">
					<div class="row">
						<label class="">Firstname: </label>
						<b class="">${profile.firstname}</b>
					</div>

					<div class="row">
						<label class="">Lastname: </label>
						<b class="">${profile.lastname}</b>
					</div>
					<div class="row">
						<label class="">Gender: </label>
						<b class=""> ${profile.gender}</b>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row">
						<label class="">Email: </label>
						<b class="">${profile.email}</b>
					</div>
					<div class="row">
						<label class="">Phone: </label>
						<b class="">${profile.phone}</b>
					</div>
					<div class="row">
						<label class="">Address: </label>
						<b class="">${profile.address}</b>
					</div>
					<div class="row">
						<label class="">City: </label>
						<b class="">${profile.city}</b>
					</div>
					<div class="row">
						<label class="">Postcode: </label>
						<b class=""> ${profile.postcode}</b>
					</div>
				
			</div>
		</div>


	</div>
</template>